.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --gap: 2.5rem;
    gap: var(--gap);
    padding: 1px;
    width: 100vw;
    margin-top: var(--header-height);
    /* height: calc(100vh - 4rem); */
    background-color: var(--bg-100);
}

#header {
    position: absolute;
    top: 0;
    height: var(--header-height);
    width: 100%;
    box-shadow: 0 -1px 0 #30363C inset;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerContent {
    width: 100%;
    height: var(--header-height);
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#headerContent > h1 {
    position: relative;
    color: transparent;
    font-weight: 600;
    font-size: 1rem;
    transform: translate(0.4rem);
    margin-top: 0.35em;
    padding: 0.4em 0.7em 0.5em;
    user-select: none;
}

#headerContent > h1 {
    box-shadow: 0 0 0 0.075em rgb(255 255 255 / 0.25);
    border-radius: 0.35em;
}

#headerContent > h1::after {
    position: absolute;
    content: attr(data-text);
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-100);
    border-radius: 0.3em;
    box-shadow: 0 0 0 0.075em rgb(255 255 255 / 0.5) inset;
}

#headerContent > h1::after {
    top: -0.35rem;
    left: -0.35rem;
}

.headerButton,
#dailyStreak {
    --icon-size: 1.5em;
    font-size: inherit;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    height: var(--icon-size);
    aspect-ratio: 1;
    opacity: 0.25;
    transition: 
        opacity 500ms ease,
        box-shadow 500ms ease;
}

.headerButton > svg,
#dailyStreak > svg {
    display: block;
    width: var(--icon-size);
    height: var(--icon-size);
    color: white;
}

.headerButton:hover,
#dailyStreak:hover {
    opacity: 1;
    filter: 
        drop-shadow(0 0 0.25em rgb(200 200 255 / 0.15))
        drop-shadow(0 0 1em rgb(200 200 255 / 0.25))
        drop-shadow(0 0 2em rgb(200 200 255 / 0.5));
}

#settingsButton {
    cursor: pointer;
    margin-right: 1rem;
}

#settingsButton > svg {
    transform: rotate(0deg);

    stroke-width: 1.5px;
    transition: filter 500ms ease, transform 750ms ease;
}

#settingsButton:hover > svg {
    transform: rotate(120deg);
}

#donateButton {
    margin-left: auto;
    margin-right: 0.5rem;
}

#donateButton > svg {
    transform: rotate(0deg);
    stroke-width: 0.5px;
    transition: filter 500ms;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.25) rotate(5deg);
    }
    50% {
        transform: scale(0.9);
    }
    75% {
        transform: scale(1.15) rotate(-5deg);
    }
    100% {
        transform: scale(1);
    }
}

#donateButton:hover > svg {
    animation: pulse 1s ease infinite
}

#statsButton {
    margin-left: 1rem;
}

#statsBars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.175em;
    height: var(--icon-size);
    width: var(--icon-size);
}

.statsBar {
    height: 100%;
    width: 0.2em;
    border-radius: 100vmax;
    box-shadow: 0 0 0 1.75px white;
}

.statsBar:nth-of-type(1) {
    height: 50%;
}

.statsBar:nth-of-type(2) {
    height: 100%;
}

.statsBar:nth-of-type(3) {
    height: 75%;
}

#statsButton:hover .statsBar:nth-of-type(1) {
    animation: shrink 600ms ease infinite alternate;
}

#statsButton:hover .statsBar:nth-of-type(2) {
    animation: shrink 600ms ease 200ms infinite alternate;
}

#statsButton:hover .statsBar:nth-of-type(3) {
    animation: shrink 600ms ease 400ms infinite alternate;
}

#dailyStreak {
    position: relative;
    margin-left: 0.5rem;
    margin-right: auto;
    cursor: auto;
}

#dailyStreak::after {
    content: attr(data-streak-length);
    position: absolute;
    left: 65%;
    top: 55%;
    font-size: 0.5em;
    font-weight: 600;
    opacity: 1;
    background-color: white;
    color: var(--bg-100);
    padding: 0.25em 0.6em;
    border-radius: 100vmax;
    transition: opacity 500ms ease;
}

#dailyStreak[data-streak-length = '-1']::after {
    opacity: 0;
}

@keyframes shrink {
    to {
        height: 25%;
    }
}

@media (max-width: 768px){
    .main{
        --gap: 2.5rem;
    }
}
@media (max-width: 480px){
    .main{
        --gap: 2rem;
    }
}

@media (min-width: 1024px) {
    #header {
        font-size: 1.35rem;
    }
}

@media (max-width: 1024px) {
    #header {
        font-size: 1.35rem;
    }
}

@media (max-width: 768px) {
    #header {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    #header {
        font-size: 1rem;
    }
}