@keyframes openModal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.modalContainer[data-status = 'open'] {
    animation: openModal 500ms ease forwards;
}

.modalContainer[data-status = 'closing'] {
    animation: closeModal 500ms ease forwards;
}

.modalContainer::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 235, 255, 0.025);
    mix-blend-mode: screen;
    z-index: 100;
}

.modal {
    position: relative;
    padding: 3.25rem 2.5rem 2.25rem;
    background-color: var(--bg-100);
    box-shadow: 
        0 0 0 1.5px rgb(255 255 255 / 0.35),
        0 0 1em black inset,
        0 0 1em rgb( 0 0 0 / 0.1 ),
        0 0 5em rgb( 0 0 0 / 0.15 ),
        0 0 15em rgb( 0 0 0 / 0.25 );
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    max-height: 90vh;
    overflow-y: scroll;
    z-index: 100;
}

.modal > * {
    user-select: none;
}

.modalHeader {
    color: white;
    font-weight: 600;    
    font-size: 1.1rem;
    padding: 0.85rem 1.5rem;
    border-radius: 0.75rem;
    box-shadow:
        0 0 0 0.075rem rgb(255 255 255 / 0.25),
        0 0 0.25em rgb( 200 200 255 / 0.05 ),
        0 0 1em rgb( 200 200 255 / 0.1 ),
        0 0 2em rgb( 200 200 255 / 0.15 );
    user-select: none;
}

.modalBody {
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 0.75em;
    width: 2em;
    aspect-ratio: 1;
    border-radius: 0.5em;
    opacity: 0.5;
    transition: opacity 200ms ease, box-shadow 200ms ease;
}

.closeButton:hover {
    opacity: 1;
    filter: drop-shadow(0 0 0.25em white);
}