#content {
    display: grid;
    grid-template-columns: auto 1fr;
    width: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 0.75em;
}

.settingsLabel {
    color: white;
    font-weight: 500;
    font-size: 0.65em;
    display: flex;
    align-items: center;
    white-space: pre;
    justify-content: flex-start;
}

.settingsSelector{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleContainer {
    position: relative;
    width: 1.75em;
    height: 1em;
}

.toggleContainer input[type="checkbox"] {
    display: none;
    opacity: 0;
}

.toggleContainer input[type="checkbox"] + label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100vmax;
    box-shadow: 0 0 0 1px var(--slate-700);
    cursor: pointer;
    transition: box-shadow 200ms ease;
}

.toggleContainer input[type="checkbox"] + label:before {
    --padding: 0.15em;
    content: "";
    position: absolute;
    top: var(--padding);
    bottom: var(--padding);
    left: var(--padding);
    height: calc(100% - (2 * var(--padding)));
    aspect-ratio: 1;
    box-shadow: 0 0 0 1px var(--slate-700);
    border-radius: 100%;
    transition: 
        background-color 200ms ease, 
        transform 200ms ease, 
        left 200ms ease,
        box-shadow 200ms ease;
}

.toggleContainer input[type="checkbox"]:checked + label {
    box-shadow: 0 0 0 1px white;
}

.toggleContainer input[type="checkbox"]:checked + label:before {
    right: var(--padding);
    left: 100%;
    background-color: white;
    box-shadow: 0 0 0 0 var(--slate-700);
    transform: translateX(calc(-100% - var(--padding)));
}
  
.settingsNumberInput {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: 0 0 0 1px white;
    border-radius: 100vmax;
    color: white;
    width: 100%;
    height: 1.67em;
    font-size: 0.6em;
    font-weight: 600;
    text-align: center;
    -moz-appearance: textfield;
    appearance: textfield;
}
.settingsNumberInput::-webkit-outer-spin-button,
.settingsNumberInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

@keyframes shake {
    25% {
        transform: translate(0.15em);
    }
    75% {
        transform: translate(-0.15em);
    }
    100% {
        transform: translate(0);
    }
}

.settingsNumberInput:out-of-range {
    box-shadow: 0 0 0 1px var(--red);
    animation: shake 200ms ease forwards;
}